<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Silicon Absorption Calculator</title>
</head>
<body>

<h1> Silicon Absorption Calculator </h1>

<p>The absorption of silicon is calculated using the <a href="http://rayflare.readthedocs.io">RayFlare</a> python framework.  Enter the SiN thickness, front surface texture and aluminium rear reflector </p>

<p>Do not attempt to download data ahead of calculating!!</p>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" name="calculate">Calculate</button>
    <button type="submit" name="download">Download</button>
</form>

 <img src="data:image/png;base64,{{ graph }}" alt="" height="250" ,width="250">

</body>
</html>