<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Silicon Absorption Calculator</title>
</head>
<body>

<h1> Ned's amazing sine wave calculator app ...</h1>

<p>Here is a form.  Enter data, press submit to calculate and observe the plot</p>

<p>Do not attempt to download data ahead of calculating!!</p>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" name="calculate">Calculate</button>
    <button type="submit" name="download">Download</button>
</form>

 <img src="data:image/png;base64,{{ graph }}" alt="" height="250" ,width="250">

</body>
</html>